<!doctype html>
<html>
<style>
        h2
        {
            font-family:arvo
            text-align:left
            line-height:20px
        }
        h1
        {
            font-family:arvo
            text-align:center
            line-height:50px
        }
</style>
<h1>THERE ARE NO BOOKINGS MADE SO FAR! MAKE YOUR BOOKING NOW!</h1>
   <body background = "https://cdn.hipwallpaper.com/i/48/27/VIEtGM.jpg">
      <h2><a href = "{{ url_for('home') }}">No, I want go back to home page</a></h2>
      <form action= "new_booking.html" method="GET">
          <input type="submit" value="Submit" {font-style="arvo"} {line-height =30}  />
      </form>
   </body>
</html>